/*******************************************************
 *
 *
 * Component Oscilloscope
 *
 * 
 */

.oscilloscope__container {
	position: absolute;
    top: -120px;
    left: 50%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
    border-radius: 10px;
    pointer-events: none;
}