* {
	margin: 0;
	padding: 0;
    font-family: Arial;
}

body {
	background-color: #a10000
}

.container {
	width: 100%;
	text-align: center;
	margin-top: 25%;
}

/*******************************************************
 *
 *
 * Component Player
 *
 * 
 */


.player__container {
	margin: 0 10%;
}

/*******************************************************
 *
 *
 * Component Wave
 *
 * 
 */

.svg__wave > rect {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.wave__container {
	position: relative;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.wave__position-absolute {
	position: absolute;
}

.wave__progress {
    left: -3px;
    border: 3px solid transparent;
    border-bottom: 6px solid #000;
    height: 0;
    width: 0;
}

.wave__time {
	text-align: left;
	width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}
