/*******************************************************
 *
 *
 * Component Player
 *
 * 
 */

.player__container {
	margin: 0 10%;
}

/*.player__prev,
.player__next {
	position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
}

.player__prev {
	left: -25px;
}

.player__next {
	right: -25px;
}*/
